.App {
  text-align: center;
}

.posevideo {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  visibility: visible;
  width: auto;
  height: auto;
  background-color: black;
}

.poseCanvas {
  background-color: purple;
  
}
